@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0; */
  --background-start-rgb: 65, 101, 162, 1;
  --background-end-rgb: 78, 165, 145, 1;
  font-family: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    font-family: 'Poppins', sans-serif;
    --background-start-rgb: 65, 101, 162, 1;
    --background-end-rgb: 78, 165, 145, 1;
  }
}

html {
  background-color: rgb(78, 165, 145, 1);
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}