.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    opacity: 1;
    transition: all 0.2s;
    font-size: 2.5rem;
    margin: 15px 0;
    color: #fff;
}




/* .timer .time.up {
    opacity: 0;
    transform: translateY(-100%);
  }
  
  .timer .time.down {
    opacity: 0;
    transform: translateY(100%);
  } */